h1{
    margin: 100px 0 50px 0;
}

.category-list ul{
    list-style:none;
    margin-bottom: 40px;
    padding-left: 0;
}

.category-list ul li{
    border-right: 1px solid #eee;
    display: inline-block;
    line-height: 0;
    padding: 18px;
}

.category-list ul li:last-child{
    border-right: none;
}

.category-list ul li a{
    color: #928282;
    font-size: 1.8rem;
    font-weight: lighter;
    text-decoration: none;
}

.category-list .photo-list ul{
    list-style:none;
    padding-left: 0;
}

.category-list .photo-list ul li {
    border: none;
    display: inline-block;
    padding: 3px;
}
