form {
    margin: 300px 0 auto;
}

h4 {
    font-weight: bold;
}

::-webkit-input-placeholder {
  opacity: 0;
  transition: inherit;
}

.forn-control::-webkit-input-placeholder {
    color:transparent;
}

.form-control::-moz-placeholder {
    color:transparent;
}

form .container {
    border-bottom: none;
    height: 0;
    padding: 0;
    width: 100%;
}

form .container .form-control {
    border-radius: 0;
}

form .container .form-control:focus {
    box-shadow: none;
}

form .container label, input {
    transition: all 0.2s;
}

form .container input {
    border: none;
    box-shadow: none;
    background-color: transparent;
    font-size: 3em;
    margin: 0 auto;
    padding: 25px;
    position: relative;
    top: -47px;
    text-align: center;
    width: 50%;
}

form .container input:focus {
    border-bottom: 1px solid #000;
    outline: 0;
}

form .container input:placeholder-shown + label {
    cursor: text;
    font-size: 4rem;
    max-width: 66.66%;
    overflow: hidden;
    position: relative;
    text-overflow: ellipsis;
    transform-origin: center;
    transform: translate(0, -100px) scale(1.5);
    z-index: -2;
    white-space: nowrap;
}

form .container input:focus::-webkit-input-placeholder {
    opacity: 1;
}

form .container input:not(:placeholder-shown) + label,
form .container input:focus + label {
    background-color:transparent;
    color: #000;
    cursor: text;
    font-size: 4rem;
    margin-bottom: 0;
    padding-top: 20px;
    transform: translate(0, -250px);
    z-index: 1;
}
